NODE_ENV=development
PORT=5000

CLIENT_URL=http://localhost:5173

MONGO_URI=mongodb://127.0.0.1:27017/codexa_academy

JWT_SECRET=VqxbTOhpRSpYn4HwBuE6IDUMeV9xgarnSRU8bv2fYuI=
JWT_EXPIRES_IN=1d

ADMIN_EMAIL=admin@codexaacademy.com
ADMIN_PASSWORD=admin@.2com